#main {
  display: flex;
}
#left {
  height: 450px;
  /* border: 1px solid black; */
}
#right {
  /* border: 1px solid black; */
  margin-left: 20px;
  font-size: 20px;
  line-height: 40px;
}
img {
  height: 100%;
}
#todayHEADING {
  width: 20%;
  margin: auto;
}
